h1 {
    font-size: 40px !important;
    color: #2196f3 !important;
    text-transform: uppercase !important;
    text-align: center;
    font-weight: 500;
    border-bottom: none !important;
}

h2 {
    color: #2196f3 !important;
    border-bottom: none !important;
}

a:hover {
    text-decoration: none !important;
}

code * {
    font-family: "Consolas", "Lucida Console", Monaco, monospace
}

.container {
    padding: 50px 0;
}

.container li {
    margin-left: 25px !important; 
    list-style-type: disc !important;
}

.container li li {
    list-style-type: circle !important;
}

.container li li li {
    list-style-type: square !important;
}

blockquote {
    border: 2px solid #2196f3 !important;
    border-radius: 8px;
    background-color: lightblue;
    color: #2a2a2a !important;
    position: relative;
    padding-left: 45px !important;
}

blockquote * {
    display: inline;
}

blockquote::before {
    content: "!";
    display: block;
    border: 2px solid #2a2a2a;
    border-radius: 100%;
    text-align: center;
    font-weight: bold;
    color: #2a2a2a;
    position: absolute;
    top: calc(50% - 12.5px);
    left: 10px;
    width: 25px;
    height: 25px;
}

.material-icons {
    vertical-align: middle;
}