{% include ga.html %}
    
<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/markdown-style.css" media="screen,projection" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />