<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    {% seo %}
</head>

<body>
    {% include header.html %}

    <main class="container markdown-body">
        {{ content }}
    </main>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script>
        var sNav = document.querySelector('.sidenav');
        var sNavInstance = M.Sidenav.init(sNav);

        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems);
    </script>
    {% if page.title == "Changelog" %}
    <script>
        if(document.location.search.includes("?version=")) {
            document.querySelector("header").style.display = "none";
        }
    </script>
    {% endif %}
</body>

</html>